.tbl-body {
  display: block;

  .tbl-body-row {
    height: 40px;
    width: 100%;
    display: flex;
    flex-flow: row;
    border-bottom: 1px solid #e4e4e4;

      .tbl-body-row-cell {
        flex: 1;
        height: 39px;
        display: inline-block;
        background-color: #FFFFFF;
        border-right: 1px solid #e4e4e4;
      }

      .tbl-body-row-cell:first-child {
        border-left: 1px solid #e4e4e4;
      }

      .tbl-body-row-cell div {
        padding: 10px;
        text-align: center;
      }
  }
}