.forgot-password-container {
  border: 1px solid darkgray;
  padding: 2.5rem;
  width: 100%;
  background-color: #ffffff;
  margin: 20px;
  .forgot-password-box {
    padding: 40px;
    display: flex;
    justify-content: center;
  }
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  .input-text {
    padding: .625rem;
    border-radius: 1rem;
    margin: 10px;
  }
  .forgot-password-submit {
    padding: .625rem;
    margin-top: .625rem;
    border-radius: 1rem;
  }
}